body{

    background-image: url('flat-lay-workstation-with-copy-space-laptop.jpg');
     height: 100vh;
    min-height: 100vh
    ;
    justify-content: center;
    background-size: cover;
    text-align: center; 
    background-attachment: fixed;
}
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
nav {
    background-color: rgba(83, 81, 81, 0.406);
    backdrop-filter: blur(6px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
nav ul {
    width: 100% ;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
nav li {
    height: 50px;
}
nav a {
  font-family: "Playwrite DE SAS", cursive;
    height: 100%;
   color: #ffffff;
    text-decoration: none;
   align-items: center;
    padding: 0px 20px;
    display: flex;
   font-size: 17px;
    font-weight: 8px;
    transition: 0.3s ease-in; border-radius: 10px;
}
nav a:hover {

    text-decoration:none;
}
nav li:first-child {
    margin-right: auto;
}
   
        a {
          
  color: #e5effb; 
  text-decoration: none; 
  font-weight: bold;  font-size: 25px;
}
a:hover {
  text-decoration: underline; 
  color: #ffffff; 

}
@media (max-width: 593px) {
    .hide1 {
        display: none;
    }
    .concopy{
      display: none;
    }
  }



.container{
 
    display: flex;
    gap: 30px;
}
.pee{
  background-color: #88888800;
  border-color: #00000000;
  margin-top: 20px;
}
.well{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex: 1 1 auto;
margin-right: 20px;

 
  
    margin-top: 50px;
    background-color: rgba(205, 205, 205, 0.297); 
    
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(2px);   
    border-radius: 15px;
}

.well2{
 margin-top: 100px;
margin-left: 30px;

    flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex: 1 1 auto;
      display: flex;
    flex-direction: column;
    align-items: center;
   
}
.welcome{
  
  position: relative;
 font-family: "BBH Sans Bartle", sans-serif;
  font-size: 60px;
  color: #888888;
  margin-top: 80px;
}
.tiom{
   
    padding: 10px 20px;
    font-size: 16px;
    color: #f9f8f8;
    background-color:  rgba(67, 67, 67, 0.658);
    font-family: "Roboto Slab", serif;
  
    border-radius: 10px;
    
    text-decoration: none;
        cursor: pointer;
        transition: all 0.5s ease-in-out;}
        .tiom:hover {
          color: rgb(0, 0, 0);
          background-color: rgb(255, 255, 255);
          border: 2px rgb(255, 255, 255) solid;
            text-decoration: none;
           font-weight: bold;
        }
        .search{


  padding: 10px;
  width: 160px;
  margin-top: 20px;
border: 0.7px solid #00000000;
  font-size: 13px;
  color: #ffffff;
  background-color: #0000008a;
   border-radius: 4px;
backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(2px);

transition: all 0.5s ease-in-out;
 
}
 .search:hover {
  
  outline: none;
  border-color: #ffffffed;
  box-shadow: 0 0 5px rgb(255, 255, 255);
   transform: scale(1.1);
 z-index: 0.1;
 background-color: #000000a4;
}

 .me{
         font-size: 70px;
          color: rgb(40, 40, 40);
        }
 .para1{
    margin-top: 70px;
 font-family: "Archivo Black", sans-serif;
  font-size: 20px;
  color: rgb(22, 21, 21);

  ;
  }
  .pee{
    font-size: 20px;
    color: #ff1313cf;
  }
  .copy{
     font-weight: 30px;
  display: inline-block;
  margin-top: 20px;
}
.concopy{
  display: flex; 
  justify-content: space-around; 
   float: left;
    margin-top: 30px;
    width: 300px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.066);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 9px;
  
    
    
}
.mainpic{
 
  margin-right: 210px;
  border-radius: 100px;
}
.mainpic2{

  margin-top: 50px;
background-color: rgba(194, 192, 192, 0.349);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 9px;

}
.ro{
  
  font-size: 20px;
  color: rgb(200, 200, 200);
}
.me{
          color: rgb(216, 216, 216); 
}
.h{
  color: rgb(150, 150, 150);
}
.job{
  margin-top:10px ;
  margin-bottom: 40px ;
  font-size: 20px;
  color: rgb(216, 216, 216); 
}